html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100%;
}

#body-div {
/*    min-height: 740px;*/
    position: relative;
    height: 100%;
    display: flex; 
}

.img-align-bottom {
    align-items: bottom;
}

.img-align-center {
    align-items: center;
}

#header {
    /*padding: 10px;*/
}

#body {
/*    padding: 10px;*/
    /*padding-bottom: 48px;*/
}

.content {
    background-color: black;
    padding: 0px;
    max-width: 1170px;
/*    text-align: center;*/
    display: flex;
/*    align-items: bottom;*/
    /*align-self: bottom;*/
}

.content-about {
    background-color: black;
    padding: 0px;
    max-width: 1170px;
}

.fa-twitter, .fa-instagram,
.fa-youtube-play, .fa-github, .fa-rss {
    padding-left: 12px;
}

.fa {
   color: #00aeef; 
}

.montserrat {
    font-family: "MontserratRegular", "Times New Roman";
}

.montserrat-light {
    font-family: "MontserratLight", "Times New Roman";
}

.icons {
    margin-bottom: 8px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}

.icons-span {
    
}

.links {
    background-image: url("../images/Background-main.png");
    background-position: 100% bottom;
    background-repeat: no-repeat;
    background-size: 70%;
    width: 100vw;
    display: block;
    padding: 0 !important;
    margin: 0px;
    display: flex;
    align-items: center;
}

.links-sm {
    background-image: url("../images/Background-main.png");
    background-position: 80% bottom;
    background-repeat: no-repeat;
/*    height: 640px;
    width: 669px;*/
    width: 100vw;
    display: block;
    padding: 0 !important;
    margin: 0px;
    display: flex;
    align-items: flex-end;
}

.links-xs {
    background-image: url("../images/Background-main.png");
    background-position: center top;
    background-repeat: no-repeat;
/*    height: 640px;*/
    width: 100vw;
    display: block;
    padding: 0 !important;
    margin: 0px;
    display: flex;
    align-items: flex-end;
}

.links-xs-horizontal {
    background-image: url("../images/Background-main.png");
    background-position: 200px 0px;
    background-size: 80%;
    background-repeat: no-repeat;
/*    height: 640px;*/
    width: 100vw;
    display: block;
    padding: 0 !important;
    margin: 0px;
    display: flex;
    align-items: flex-end;
}

.main-link {
    color: white;
    text-decoration: none;
    padding-right: 12px;
}

 a.main-link:hover {
    color: #00aeef;
}

.about {
    font-size: 12pt;
    margin-top: 10px;
    margin-bottom: 0px;
}

.about-sm {
    font-size: 13pt;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: left;
}

.about-xs {
    font-size: 12pt;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: left;
}

#footer {
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: white;
}

.foot {
    padding-top: 14px;
    padding-bottom: 8px;
    margin-left: -1400px;
}

.year {
    text-align: center;
    font-size: 9pt;
    color: #00aeef;
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

.img-main {
    padding: 0px;
    display: table-cell;
    vertical-align: bottom;
    display: flex;
    align-items: flex-end;
}

.img-logo-sm {
    width: 270px;
    height: auto;
}

.img-logo-xs {
    width: 250px;
    height: auto;
}

.img-logo-about {
    width: 200px;
    height: auto;
}

.links-span {
    float: left;
    margin-left: 70px;
}

.links-span-sm {
    float: right;
    margin-left: 120px;
    margin-bottom: 100px;
}

.links-span-xs {
    float: right;
    margin-left: 50px;
    margin-bottom: 100px;
}

.pressed {
    color: #00aeef;;
}

.about-mobile {
    width: 260px;
    height: auto;
    margin-top: -70px;
    margin-bottom: 0;
}

.about-mobile-xs {
    width: 220px;
    height: auto;
    margin-top: -70px;
    margin-bottom: -30px;
}

.div-to-center {
    text-align: center;
}

.about-logo {
    bottom: 70px;
    left: 0;
    width: 100%;
    position: absolute;
}

.about-logo-xs {
    bottom: 66px;
    left: 0;
    width: 100%;
    position: absolute;
}

.deeply {
    color: white;
    font-size: 42px;
    margin: 0;
    margin-bottom: -17px;
    letter-spacing: -4px;
}

.deeply-xs {
    color: white;
    font-size: 18px;
    margin: 0;
    margin-top: -5px;
    letter-spacing: -2px;
}

.div-margin-top-xs {
    margin-top: -70px;
}

@media only screen /*iPad*/
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation:portrait) {
    .links-sm {
        background-image: url("../images/Background-main.png");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 120%;
        display: block;
        padding: 0 !important;
        margin: 0px;
        display: flex;
        align-items: flex-end;
    }
    .links-span {
        float: left;
        margin-left: 170px;
        margin-bottom: 150px;
    }
}

@media only screen /*iPad Pro*/
and (min-device-width : 1024px) 
and (max-device-width : 1366px)
and (orientation:portrait) {
    .links {
        background-image: url("../images/Background-main.png");
        background-position: 40% bottom;
        background-repeat: no-repeat;
        background-size: 120%;
        display: block;
        padding: 0 !important;
        margin: 0px;
        display: flex;
        align-items: flex-end;
    }
    .links-span {
        float: left;
        margin-left: 170px;
        margin-bottom: 150px;
    }
}

@media only screen /*iPhone 6 Plus*/
and (min-device-width : 412px) 
and (max-device-width : 736px)
and (orientation:portrait) {
    .links-sm {
        background-image: url("../images/Background-main.png");
        background-position: 40% bottom;
        background-repeat: no-repeat;
    /*    height: 640px;
        width: 669px;*/
        width: 100vw;
        display: block;
        padding: 0 !important;
        margin: 0px;
        display: flex;
        align-items: flex-end;
    }
    .fa-twitter, .fa-instagram,
    .fa-youtube-play, .fa-github, .fa-rss {
        padding-left: 5px;
    }   
}

@media only screen /*Horizontal mobile*/
and (min-device-width : 300px) 
and (max-device-width : 500px)
and (orientation:landscape) {
    .fa-twitter, .fa-instagram,
    .fa-youtube-play, .fa-github, .fa-rss {
        padding-left: 5px;
    }   
}

@media only screen /*Vertical mobile*/
and (min-device-width : 300px) 
and (max-device-width : 768px)
and (orientation:portrait) {
    .about-logo-xs {
        bottom: 86px;
    }   
}