{% extends "layout.html" %}

{% block body %}
<div id="body-div" class="img-align-bottom">
<!-- FOR LG, MD -->
    <div id="header"></div>
    <div id="body" class="container content row">
        <div class="links col-lg-12 col-md-12 img-main-about hidden-sm hidden-xs">
            <span class="links-span">
                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/Logo-main.png') }}"></a>
                <p class="montserrat about">
                    <a href="{{ url_for('about') }}" class="main-link">about</a>
                    <span class="main-link">|</span>
                    <a href="https://blog.synaptec.com" target="_blank" class="main-link">blog</a>
                </p>
            </span>
        </div>
<!-- FOR SM -->
        <div class="links-sm hidden-lg hidden-md col-sm-12 hidden-xs">
            <span class="links-span-sm">
                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/Logo-main.png') }}" class="img-logo-sm"></a>
                <p class="montserrat about-sm">
                    <a href="{{url_for('about') }}" class="main-link">about</a>
                    <span class="main-link">|</span>
                    <a href="https://blog.synaptec.com" target="_blank" class="main-link">blog</a>
                </p>
            </span>
        </div>
<!-- FOR XS -->
        <div id="div-xs" class="links-xs-horizontal hidden-lg hidden-md hidden-sm col-xs-12">
            <span class="links-span-xs">
                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/Logo-main.png') }}" class="img-logo-xs"></a>
                <p class="montserrat about-xs">
                    <a href="{{url_for('about') }}" class="main-link">about</a>
                    <span class="main-link">|</span>
                    <a href="https://blog.synaptec.com" target="_blank" class="main-link">blog</a>
                </p>
            </span>
        </div>
    </div>
    <div id="footer" class="container row foot">
    {% include "footer.html" %}
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}